@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply select-none hover:bg-primary/40 hover:border-transparent focus-visible:outline-none;
}

.unselectable {
  -webkit-user-select: none;
  user-select: none;
}

* {
  @apply unselectable;
}

img {
  @apply unselectable pointer-events-none cursor-pointer;
}

.btn-danger {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.input {
  @apply focus-within:outline-0 focus-within:shadow-md focus-within:border-primary;
}

.bg-primary {
  @apply bg-[#f8f8f8];
}

.bg-primary-orange {
  @apply bg-[#FF7622];
}

.icon {
  @apply size-8;
}

.btn-none {
  @apply btn bg-transparent rounded-none;
}

.btn-icon {
  @apply btn p-2 bg-[#ECF0F4] rounded-full aspect-square border-none;
}

.text-gradient {
  @apply text-4xl font-bold bg-gradient-to-b from-[#ED3342] to-[#FABF30] bg-clip-text text-transparent;
}

.title {
  @apply text-xl font-bold;
}

.my-card-title {
  @apply text-[16px] font-semibold;
}

.my-card-subtitle {
  @apply text-[11px];
}

.card-price {
  @apply text-[12px] font-medium;
}

.img {
  @apply select-none pointer-events-none;
}

.img-full {
  @apply img object-cover w-full h-full object-center;
}

.category-active {
  @apply text-primary bg-primary/25 border-primary;
}

.btn-nav-active {
  @apply text-primary bg-primary/15 border-primary;
}

.modal-width {
  @apply container mx-auto w-full max-w-lg md:max-w-2xl lg:max-w-3xl xl:max-w-4xl;
}

@media (hover: hover) {
  .menu li > *:not(ul, .menu-title, details, .btn):active,
  .menu li > *:not(ul, .menu-title, details, .btn).active,
  .menu li > details > summary:active {
    @apply active:bg-[#e2e3e5] text-inherit;
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -webkit-overflow-scrolling: touch;
}

/* ! */
.custom-scrollbar::-webkit-scrollbar {
  width: 20px; /* Ancho de la barra de desplazamiento */
  -webkit-appearance: none;
}

.custom-scrollbar::-webkit-scrollbar:vertical {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar:horizontal {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-button:increment,
.custom-scrollbar::-webkit-scrollbar-button:decrement,
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffa600; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados */
  cursor: pointer;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ff772279 transparent;
}

#register-bg {
  background-image: url('../images/bgRegister.png');
  background-size: cover;
  background-position: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
