@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply select-none;
}

.input {
  @apply focus-within:outline-0 focus-within:shadow-md focus-within:border-orange-500;
}

.bg-primary {
  @apply bg-[#FDFDFD];
}

.icon {
  @apply size-8;
}

.btn-none {
  @apply btn bg-transparent rounded-none;
}

.btn-icon {
  @apply btn p-2 bg-[#ECF0F4] rounded-full aspect-square border-none;
}

.text-gradient {
  @apply text-4xl font-bold bg-gradient-to-b from-[#ED3342] to-[#FABF30] bg-clip-text text-transparent;
}
/* 
body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 0px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  cursor: pointer;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

body::-webkit-scrollbar-track-piece {
  background: transparent;
}

.my-side-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.my-side-container::-webkit-scrollbar:vertical {
  width: 6px;
}

.my-side-container::-webkit-scrollbar:horizontal {
  width: 4px;
}

.my-side-container::-webkit-scrollbar-button:increment,
.my-side-container::-webkit-scrollbar-button {
  display: none;
}

.my-side-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  cursor: pointer;
}

.my-side-container::-webkit-scrollbar-track {
  @apply bg-transparent w-2 p-2 rounded-xl;
}

.my-side-container::-webkit-scrollbar-track-piece {
  @apply bg-transparent w-4 p-4 rounded-xl;
} */
